<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniubi.uface.etherdemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application
        android:name=".EtherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".activity.AndServerTestActivity"></activity>
        <activity
            android:name=".activity.core.CoreRecoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.CoreRecoTempActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.outdevice.OutDeviceActivity"></activity>
        <activity android:name=".activity.outdevice.SerialPortActivity" />
        <activity android:name=".activity.outdevice.OpenCloseActivity" />
        <activity android:name=".activity.core.CoreMainActivity" />
        <activity android:name=".activity.core.CoreInterfaceActivity" />
        <activity android:name=".activity.core.CoreNaviActivity" />

        <receiver android:name=".receiver.IotReceiver">
            <intent-filter>
                <action android:name="com.uniubi.uface.ether.msg" />
                <action android:name="com.uniubi.uface.ether.msg.extra" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <activity android:name=".activity.IotReceiveActivity" />


        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="7a0e2c4097" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="huawei" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
    </application>

</manifest>